{{ define "main" }}
    <main aria-role="main">
        <div>
            <h1><span style="color: #5d3b4c">lapis.</span>angularis /<span style="color: #5d3b4c">/ home</span></h1>

            {{- with .Site.Params.homeSubtitle }}
                <p>{{.}}</p>
            {{- end }}

            {{- with .Site.Params.social }}
                <div>
                    {{ partial "social-icons.html" . }}
                </div>
            {{- end }}
        </div>
    </main>
{{ end }}
